dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
*~
*.agdai
*.orig
\#*
*.log
*.blg
*.ptb
*.fls
*.zip
*.fdb_latexmk
*.cut
writeup/haskell2018/appendices.bbl
writeup/haskell2018/appendices.pdf
writeup/haskell2018/appendices.tex
writeup/haskell2018/paper.bbl
writeup/haskell2018/paper.pdf
writeup/haskell2018/paper.tex
